* {
	margin: 0;
	padding: 0%;
	box-sizing: border-box;
}

.container {
	width: 80%;
	margin: 2rem auto;
	/* margin-top: 2rem; */
}

.mb-2 {
	margin-bottom: 2rem;
}
.nav-bar {
	display: flex;
	align-items: center;

}
.button {
	padding: 0;
	padding:  0rem 1rem;
	display: inline-block;
	text-align: center;
	margin-right: 2rem;
	margin-left: 1rem;
	width: 4rem;
	height: 2rem;
}
.read {
	background-color: rgb(131, 209, 108);
	color: #fff;
	text-decoration: line-through;
  }