@import "../default.css";

.header {
	margin: auto;
	padding: 1rem;
	text-align: center;
}

/* .item {
	white-space: nowrap;
} */

@media(min-width: 678px) {
	.flex {
		display: flex;
	}
	.box {
		border: 0.2em solid #1ed805;
	}
	.box+.box { /* Detta slår på närmaste syskon  osv..*/
		border-left: 0;
		border-top: 0.2em solid #1ed805;
	}
}